<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Oxygen:700,300' rel='stylesheet' type='text/css'>
        <!-- build:css({app,.tmp}) /css/main.css -->
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title">Sal Garozzo</h1>
              <p>I'm a level designer in New York—this is my portfolio.</p>
            </div>


            <div class="content">
                {{ content }}
            </div>

            <div class="footer">
              © 2013 Sal Garozzo
            </div>
          </div>
        </div> <!-- /container -->

    <!-- build:js({app,.tmp}) /js/scripts.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
