/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

$dark: #2F3738;
$light: #f2f2f2;

html, body { background: white; height: 100%; }

body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: $dark;
  background: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
}

.content, .footer {
  padding: 1em;
}

a         { color: #000; }
a:hover   { color: #9FBCBF; }
a:visited { color: #647678; }

.header {
  padding: 6em 0;
  background: $dark;
  color: white;
}

.header .title {
  font-size: 200%;
  text-transform: uppercase;
}

.header p {
  margin-top: 1em;
  text-transform: lowercase;
}

.content {
  background: $light;
}

.footer {
  background: white;
}
